<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= sn[0].tname %></h1>
    <p>Welcome to <%= sn[0].tname %></p>
    <!-- <p>project name <%=obj1 %></p> -->
  </body>
</html>
