<!DOCTYPE html>
<html>
<head>
	<title>
	</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<style>
.ab{
   background: linear-gradient(to bottom, #ccffff 0%, #66ccff 100%);
   width:100%;
   height:650px;
  }
</style>
<script src="view.js"></script>
<body>
	<div class="ab">
<center> 
	<br><br>
       <h1>Thank You!!</h1>
       <h1>Your Details Are Updated</h1>
       <center><a href="https://agrawalharsh29.github.io/Mentorsmit/mentorsmit/index.html" class="btn btn-primary" style="margin-left: 0px; margin-top: 20px;">GO TO HOME PAGE</a></center>

      
    </center> 
</div>
</body>
</html>