<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <style>
  body{
   background: linear-gradient(to bottom, #ccffff 0%, #66ccff 100%);
  }
</style>
  <body>

    <center><div class="ab" style="margin-top: 100px;">
    <center><h1><%= obj %></h1></center>
    <center><p>WELCOME TO MY PROFILE</p></center><br>
    <center><h2> I provide Internship on <%= obj1 %></h2></center><br>
    <center><h2> Currently taking Interns: <%= obj2 %></h2></center><br>
    <center><button>APPLY NOW</button></center>

    <center><a href="https://agrawalharsh29.github.io/Mentorsmit/mentorsmit/index.html" class="btn btn-primary" style="margin-left: 0px; margin-top: 20px;">HOME PAGE</a></center>
</div></center>
    <br><br><br><br><br><br><br><br>

  </body>
</html>
